.asd{
    width:100px;
}
.asd2{
    width:100px;
}
.asd3{
    width:100px;
}
.asd4{
    width:100px;
}
.asd5{
    width:100px;
}
.asd6{
    width:100px;
}
.asd7{
    width:100px;
}
.asd8{
    width:100px;
}
.asd14{
    width:100px;
}
.asd25{
    width:100px;
}
.asd36{
    width:100px;
}
.asd47{
    width:100px;
}
.asd58{
    width:100px;
}